extends ../../_common/base.pug
//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
	- var title = 'Google Maps'
	- var subtitle = 'Mapa con un multi makers'
//- ---

//- Contenido
block content
	.container
		
		pre
			code.language-jade
				:pug-code
					.dcd dcd
						sxsx
		p aqui va mi codigo de js

		pre
			code.language-js
				:pug-code
					$(()=>{
						// code here
					})

	section.mapcontacto(style="margin-top:100px")
		.cnt-map
			.abrir-map Abrir mapa
			.box-map
				#google-maplima.map
				.btn-azul.cerrar-map cerrar mapa
						
//- js
append scripts 
	script(src=`https://maps.googleapis.com/maps/api/js?key=${ GOOGLE_APIKEY }`)
	script.
		$(function() {
			$('.contc-info').eq(0).addClass('active');
			$('.contact-tabs a').click(function(e) {
				e.preventDefault();
				$('.contact-tabs a').removeClass('active');
				$(this).addClass('active');
				var dataTab = $(this).attr('data-tab');
				$('.contc-info').removeClass('active');
				$('.contc-info[id="'+dataTab+'"]').addClass('active');
			});

			function initMap() {
				var $map = $( '#google-maplima' );
				if ( ! $map.length ) return;
				var myLatlng = new google.maps.LatLng(-12.086676, -77.051926,18); // <- Your latitude and longitude
				var styles = [
					{"featureType": "water","stylers": [{"color": "#eee"},{"visibility": "on"}]},
					{"featureType": "landscape","stylers": [{"color": "#f2f2f2"}]},
					{"featureType": "road","stylers": [{"saturation": -100},{"lightness": 45}]},
					{"featureType": "road.highway","stylers": [{"visibility": "simplified"}]},
					{"featureType": "road.arterial","elementType": "labels.icon","stylers": [{"visibility": "off"}]},
					{"featureType": "administrative","elementType": "labels.text.fill","stylers": [{"color": "#444444"}]},
					{"featureType": "transit","stylers": [{"visibility": "off"}]},
					{"featureType": "poi","stylers": [{"visibility": "off"}]}
				]
				var mapOptions = {
					zoom             : 15,
					center           : myLatlng,
					mapTypeControl   : true,
					disableDefaultUI : true,
					zoomControl      : true,
					scrollwheel      : false,
					styles           : styles,
					draggable        : true
				}
				var map = new google.maps.Map(document.getElementById('google-maplima'), mapOptions);

				var marker = new google.maps.Marker({
					position: myLatlng,
					map: map,
					icon:"{{STATIC_URL}}img/marker.png"
				});
			}
			google.maps.event.addDomListener(window, 'load', initMap),
			$(".cnt-map .abrir-map").click(function(event) {
				$(".box-map").addClass('anima-map');
			});
			$(".cnt-map .cerrar-map").click(function(event) {
				$(".box-map").removeClass('anima-map');
			});
		});
