// ICOMOON

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?jl3z2n');
  src:  url('../fonts/icomoon.eot?jl3z2n#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?jl3z2n') format('truetype'),
    url('../fonts/icomoon.woff?jl3z2n') format('woff'),
    url('../fonts/icomoon.svg?jl3z2n#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-message-b:before {
  content: "\e900";
}
.icon-youtube:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-twitter:before {
  content: "\e903";
}
.icon-linkedin:before {
  content: "\e904";
}
.icon-google:before {
  content: "\e905";
}
.icon-close:before {
  content: "\e906";
}
.icon-menu:before {
  content: "\e907";
}
.icon-email:before {
  content: "\e908";
}
.icon-next:before {
  content: "\e909";
}
.icon-phone:before {
  content: "\e90a";
}
.icon-navigate_prev:before {
  content: "\e90b";
}
.icon-navigate_next:before {
  content: "\e90c";
}
.icon-map:before {
  content: "\e90d";
}