extends ../../_common/base.pug
//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
	- var title = 'Cards'
	- var subtitle = 'Cards testimonios'
//- ---

//- Contenido
block content
	.container
		
		pre
			code.language-jade
				:pug-code
					//- card simple
					.cards__test.card__test--width
						.card__content.card__content--border.card__content--boxshadow
							.card__img
								img(src="/assets/img/cards-img.jpg")
							.card__texto.card__texto--padding
								h4card__texto--red.card__texto--uppercase.card__texto--fonth4 Alejandra Mendoza
								span.card__texto--red.card__texto--fontspan Project Manager - Entel Perú
								p.card__texto--paddingp.card__texto--fontp Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								.card__share
									.card__share__img
										img(src="/assets/img/icon-share.png")
									.card__share--padding
										p.card__share--lightblue.card__texto--uppercase Compartir

					//- Card con hover
					.card__test__hover.card__test--width
						.card__content.card__content--border.card__content--boxshadow
							.card__img
								img(src="/assets/img/cards-img.jpg")
							.card__texto.card__texto--padding
								h4.card__texto--red.card__texto--uppercase.card__texto--fonth4 Alejandra Mendoza
								span.card__texto--red.card__texto--fontspan Project Manager - Entel Perú
								p.card__texto--paddingp.card__texto--fontp Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								.card__share
									.card__share__img
										img(src="/assets/img/icon-share.png")
									.card__share--padding
										p.card__share--lightblue.card__texto--uppercase Compartir
						a.card__leer(href="#")
							span.card__mas
							span.card__text.card__text--black.card__texto--uppercase  Leer más

		p aqui va mi codigo de js

		pre
			code.language-js
				:pug-code
					$(()=>{
						// code here
					})

	.cards__test.card__test--width
		.card__content.card__content--border.card__content--boxshadow
			.card__img
				img(src="/assets/img/cards-img.jpg")
			.card__texto.card__texto--padding
				h4card__texto--red.card__texto--uppercase.card__texto--fonth4 Alejandra Mendoza
				span.card__texto--red.card__texto--fontspan Project Manager - Entel Perú
				p.card__texto--paddingp.card__texto--fontp Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				.card__share
					.card__share__img
						img(src="/assets/img/icon-share.png")
					.card__share--padding
						p.card__share--lightblue.card__texto--uppercase Compartir
	
	//- Card con hover
	.card__test__hover.card__test--width
		.card__content.card__content--border.card__content--boxshadow
			.card__img
				img(src="/assets/img/cards-img.jpg")
			.card__texto.card__texto--padding
				h4.card__texto--red.card__texto--uppercase.card__texto--fonth4 Alejandra Mendoza
				span.card__texto--red.card__texto--fontspan Project Manager - Entel Perú
				p.card__texto--paddingp.card__texto--fontp Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				.card__share
					.card__share__img
						img(src="/assets/img/icon-share.png")
					.card__share--padding
						p.card__share--lightblue.card__texto--uppercase Compartir
		a.card__leer(href="#")
			span.card__mas
			span.card__text.card__text--black.card__texto--uppercase  Leer más

//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?key=${ GOOGLE_APIKEY }`)
	//- script.