extends ../../_common/base.pug
//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
	- var title = 'Cards'
	- var subtitle = 'Cards Cursos'
//- ---

//- Contenido
block content
	.container
		
		pre
			code.language-jade
				:pug-code
					.card__cursos__width
						.card__cursos.card__cursos--boxshadow
							.card__cursos__content
								.card__cursos__title.card__cursos__title--style
									h3 Curso Internacional ITIL Foundation
								.card__cursos__text.card__cursos__text--style
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								.card__cursos__link.card__cursos__link--style
									a.card__cursos__enlace.card__cursos__enlace--padding(href="#") Más información
		p aqui va mi codigo de js

		pre
			code.language-js
				:pug-code
					$(()=>{
						// code here
					})
	.card__cursos__width
		.card__cursos.card__cursos--boxshadow
			.card__cursos__content
				.card__cursos__title.card__cursos__title--style
					h3 Curso Internacional ITIL Foundation
				.card__cursos__text.card__cursos__text--style
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				.card__cursos__link.card__cursos__link--style
					a.card__cursos__enlace.card__cursos__enlace--padding(href="#") Más información


	
//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?key=${ GOOGLE_APIKEY }`)
	//- script.