extends ../../_common/base.pug
//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
	- var title = 'Cards'
	- var subtitle = 'Card Profesionales'
//- ---

//- Contenido
block content
	.container
		
		pre
			code.language-jade
				:pug-code
					.card__profesionales(style="width: 380px; margin: auto; padding: 50px 0px;")
						.card__prof__img(style="width: 380px; margin: auto")
							img(src="/assets/img/cards-img.jpg")
						.card__prof__content.card__prof__content--style
							.card__prof__text.card__prof__text--style
								p Lizet
								span Mariaca
							.card__prof__button
								button.card__button
		p aqui va mi codigo de js

		pre
			code.language-js
				:pug-code
					$(()=>{
						// code here
					})
	
	.card__profesionales(style="width: 380px; margin: auto; padding: 50px 0px;")
		.card__prof__img(style="width: 380px; margin: auto")
			img(src="/assets/img/cards-img.jpg")
		.card__prof__content.card__prof__content--style
			.card__prof__text.card__prof__text--style
				p Lizet
				span Mariaca
			.card__prof__button
				button.card__button


	
//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?key=${ GOOGLE_APIKEY }`)
	//- script.