.banner__beneficios
	position: relative
.banner__beneficios__img
	width: 100%
.beneficios__img
	width: 100%
	height: 100%
	background-repeat: no-repeat
	background-size: cover
	background-position: center center
.banner__beneficios__img--before
	position: relative
	&:before
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: linear-gradient(to bottom, rgba(54,58,65,0.9) 0%, rgba(54,58,65,0.98) 100%)
.banner__beneficios__content
	width: 100%
	position: relative
.banner__beneficios__content--padding
	padding: 115px 0px 50px 0px
.beneficios__title
	padding-bottom: 40px
.beneficios__title--style
	text-align: center
	color: #fff
	h4
		font-size: 28px
		text-transform: uppercase
		padding-bottom: 20px
	strong
		color: yellow
.beneficios__items__content
	width: 20%
	margin: auto
.beneficios__items
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center
.beneficios__items--color
	color: #fff
.beneficios__items__img--before
	position: relative
	&:before
		content: ''
		position: absolute
		bottom: 0
		left: 0
		width: 45px
		height: 4px
		background-color: yellow
.beneficios__items__text--padding
	padding-top: 15px
.beneficios__button--position
	text-align: center
	padding-top: 40px
.beneficios_btn
	padding: 12px 35px
	border-radius: 4px
.beneficios__btn--style
	background-color: gold
	color: white
	text-transform: uppercase
	font-size: 14px

@media screen and (max-width: 790px)
	.banner__beneficios__content
		width: 90%


@media screen and (max-width: 480px)
	.beneficios__items__content
		width: 100%
	.beneficios__items__img
		margin: auto
	.beneficios__items__text
		text-align: center
	.beneficios__items__img--before
		&:before
			display: none
	.banner__beneficios__content--padding
		padding: 50px 0px 50px 0px