.banner__page--padding
	padding: 50px 0px
.banner__page__img
	position: relative
.banner__page__background
	width: 100%
	height: 100%
	background-size: cover
	background-position: center center
	background-repeat: no-repeat
	position: relative
	&:before
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: #209FD1
		opacity: 0.7
.banner__page__container
	width: 100%
	margin: auto
	height: 100%
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
.banner__page__text
	z-index: 3
.banner__page__text--right
	margin-right: 0
	margin-bottom: 30px
	margin-top: auto
	margin-left: auto
.banner__page__text--style
	text-transform: uppercase
	h2
		font-size: 40px
		color: #000
		margin-bottom: 0
	span
		font-size: 60px
		color: #fff
		font-weight: 800