.card__cursos__width
	max-width: 435px
	width: 100%
	margin: auto
	padding-bottom: 50px
.card__cursos
	width: 100%
	background-color: #FFF
	position: relative
	&:before
		content: ''
		position: absolute
		width: 100%
		height: 9px
		background-color: red
		top: 0
		left: 0
.card__cursos--boxshadow
	box-shadow: -1px 5px 20px 3px rgba(0,0,0,0.2)
.card__cursos__content
	max-width: 300px
	width: 100%
	margin: auto
	padding: 50px 0px
.card__cursos__title
	position: relative
	&:before
		content: ''
		position: absolute
		width: 95px
		height: 2px
		bottom: 0
		left: 0
		background-color: red

.card__cursos__title--style
	h3
		font-size: 34px
		color: red
		text-transform: uppercase
		font-family: sans-serif
		font-weight: 600
		padding-bottom: 28px
		margin-bottom: 0
.card__cursos__text--style
	padding: 40px 0px
	p
		font-size: 16px
		color: gray
		font-family: sans-serif
		margin-bottom: 0
.card__cursos__link--style
	a
		color: darkcyan
		text-transform: uppercase
.card__cursos__enlace
	position: relative
	&:before
		content: '>'
		position: absolute
		right: 0
.card__cursos__enlace--padding
	padding-right: 20px

