.card__profesionales
	transition: 2.5s ease
	&:hover, &:active
		transform : scale(1.1)
		.card__prof__content
			opacity: 1
			transition: all .5s linear
.card__prof__content
	opacity: 0
.card__prof__content
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	padding: 10px 20px
	margin-top: -6px
.card__prof__text
	margin-left: 0px
	margin-right: auto
	margin-top: auto
	margin-bottom: auto
.card__prof__text--style
	line-height: 1.1
	p
		font-size: 19px
		margin: 0
	span
		font-size: 25px
.card__prof__button
	margin-left: auto
	margin-right: 0px
	margin-top: auto
	margin-bottom: auto
.card__prof__content--style
	background-color: lightblue
.card__prof__img
	overflow: hidden

.card__button
	position: relative
	padding: 18px
	background-color: #fff
	border: none
	border-radius: 5px
	&:before
		width: 2px
		height: 15px
		content: ''
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background: #000
		display: block
		margin: auto
	&:after
		width: 15px
		height: 2px
		content: ''
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background: #000
		display: block
		margin: auto