.card__test--width
	width: 360px
	margin: auto
.card__content
	width: 100%
	height: auto
	background-color: #FFF
	overflow: hidden
.card__content--boxshadow
	box-shadow: -1px 5px 20px 3px rgba(0,0,0,0.2)
.card__content--border
	border-radius: 20px
.card__img
	width: 360px
	height: 260px
	overflow: hidden
img
	width: 100%
	height: auto
.card__texto--uppercase
	text-transform: uppercase
.card__texto--padding
	padding: 35px 25px

.card__texto--paddingp
	padding: 30px 0px
.card__share
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
.card__share__img
	width: 30px
	height: 20px
	overflow: hidden
.card__share--padding
	padding-left: 15px
.card__texto--fonth4
	font-size: 19px
	margin-bottom: 0
.card__texto--fontspan
	font-size: 16px
.card__texto--fontp
	font-size: 15px
	margin-bottom: 0
.card__texto--red
	color: #FF5454
.card__share--lightblue
	color: #00C5FE

//card hover
.card__test__hover
	position: relative
.card__leer
	position: absolute
	bottom: -55px
	left: 0
	right: 0
	display: block
	width: 100px
	font-size: 15px
	text-align: center
	color: #f00
	opacity: 0
	filter: alpha(opacity=0)
	transform: translateX(-100%)
	transition: all 0.3s
.card__mas
	width: 50px
	height: 50px
	border-radius: 50%
	background: #fff
	display: block
	margin-bottom: 10px
	box-shadow: 0 0 4px 0 #ccc
	position: relative
	&:before
		width: 2px
		height: 0%
		content: ''
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background: #000
		display: block
		margin: auto
		transition: all 0.3s cubic-bezier(0.68, -0.45, 0.165, 1.35)
	&:after
		width: 0%
		height: 2px
		content: ''
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background: #000
		display: block
		margin: auto
		transition: all 0.3s cubic-bezier(0.68, -0.45, 0.165, 1.35)
.card__text
	color: #fff
	letter-spacing: 1px
.card__text--black
	color: #000

.card__test__hover:hover
	.card__leer
		cursor: pointer
		opacity: 1
		filter: none
		transform: translateX(0%)
	.card__mas
		transition: all 1s
		transform: rotate(360deg)
		&:before
			height: 50%
		&:after
			width: 50%
