extends ../../_common/base.pug
//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
	- var title = 'Banner'
	- var subtitle = 'Banner Page'
//- ---

//- Contenido
block content
	.container
		
		pre
			code.language-jade
				:pug-code
					section.banner__page.banner__page--padding
						.banner__page__img.banner__page__img(style="width: 100%; height: 350px;")
							.banner__page__background(style="background-image: url('/assets/img/banner-beneficios-img.jpg')")
								.banner__page__container(style="max-width: 1200px;")
									.banner__page__text.banner__page__text--style.banner__page__text--right
										h2 Comunicate con
										span Nosotros	
		p aqui va mi codigo de js

		pre
			code.language-js
				:pug-code
					$(()=>{
						// code here
					})

	section.banner__page.banner__page--padding
		.banner__page__img.banner__page__img(style="width: 100%; height: 350px;")
			.banner__page__background(style="background-image: url('/assets/img/banner-beneficios-img.jpg')")
				.banner__page__container(style="max-width: 1200px;")
					.banner__page__text.banner__page__text--style.banner__page__text--right
						h2 Comunicate con
						span Nosotros

//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?key=${ GOOGLE_APIKEY }`)
	//- script.