extends ../../_common/base.pug
//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
	- var title = 'Banner'
	- var subtitle = 'Banner Beneficios'
//- ---

//- Contenido
block content
	.container
		
		pre
			code.language-jade
				:pug-code
					.banner__beneficios(style="padding: 50px 0px;")
						.banner__beneficios__img
							.beneficios__img.banner__beneficios__img--before(style="background-image: url('/assets/img/banner-beneficios-img.jpg')")
								.banner__beneficios__content.banner__beneficios__content--padding(style="max-width: 900px; margin:auto;")
									.beneficios__title.beneficios__title--style
										h4 Nuestros 
											strong Beneficios
										p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
									.beneficios__items.beneficios__items--color
										.beneficios__items__content
											.beneficios__items__img.beneficios__items__img--before(style="width: 80px; padding-bottom: 5px;")
												img(src="/assets/img/banner-beneficios.png")
											.beneficios__items__text.beneficios__items__text--padding
												p Certificaciones Internacionales
										.beneficios__items__content
											.beneficios__items__img.beneficios__items__img--before(style="width: 80px; padding-bottom: 5px;")
												img(src="/assets/img/banner-beneficios.png")
											.beneficios__items__text.beneficios__items__text--padding
												p Certificaciones Internacionales
										.beneficios__items__content
											.beneficios__items__img.beneficios__items__img--before(style="width: 80px; padding-bottom: 5px;")
												img(src="/assets/img/banner-beneficios.png")
											.beneficios__items__text.beneficios__items__text--padding
												p Certificaciones Internacionales
										
									.beneficios__button.beneficios__button--position
										a.beneficios_btn.beneficios__btn--style(href="#") Conócenos
		p aqui va mi codigo de js

		pre
			code.language-js
				:pug-code
					$(()=>{
						// code here
					})

	.banner__beneficios(style="padding: 50px 0px;")
		.banner__beneficios__img
			.beneficios__img.banner__beneficios__img--before(style="background-image: url('/assets/img/banner-beneficios-img.jpg')")
				.banner__beneficios__content.banner__beneficios__content--padding(style="max-width: 900px; margin:auto;")
					.beneficios__title.beneficios__title--style
						h4 Nuestros 
							strong Beneficios
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
					.beneficios__items.beneficios__items--color
						.beneficios__items__content
							.beneficios__items__img.beneficios__items__img--before(style="width: 80px; padding-bottom: 5px;")
								img(src="/assets/img/banner-beneficios.png")
							.beneficios__items__text.beneficios__items__text--padding
								p Certificaciones Internacionales
						.beneficios__items__content
							.beneficios__items__img.beneficios__items__img--before(style="width: 80px; padding-bottom: 5px;")
								img(src="/assets/img/banner-beneficios.png")
							.beneficios__items__text.beneficios__items__text--padding
								p Certificaciones Internacionales
						.beneficios__items__content
							.beneficios__items__img.beneficios__items__img--before(style="width: 80px; padding-bottom: 5px;")
								img(src="/assets/img/banner-beneficios.png")
							.beneficios__items__text.beneficios__items__text--padding
								p Certificaciones Internacionales
						
					.beneficios__button.beneficios__button--position
						a.beneficios_btn.beneficios__btn--style(href="#") Conócenos

//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?key=${ GOOGLE_APIKEY }`)
	//- script.