extends ../../_common/base.pug
//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.home__slider
		.home__slider__content
			ul
				li.home__slider__item
					.home__destacados__textarea
						.home__destacados__title
							h2 ttitle
						.home__destacados__text
							p.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid est rem pariatur, deserunt magni molestiae atque minima ratione quidem alias at repudiandae autem odio eius. Laborum eveniet voluptas obcaecati, facilis!
						.home__destacados__button
							a(href="") vder más

//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?key=${ GOOGLE_APIKEY }`)
	//- script.